
<mat-card style="background-color: white; border: 0; box-shadow: none;" >
  <mat-card-content class="contentTableTheme">
    <table datatable [dtOptions]="dtoptions" class="DatatableTheme">
      <thead>
        <tr class="headTable">
          <th>Id</th>
          <th>Date</th>
          <th>Changes</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data"> 
          <td>{{ item.id }}</td>
          <td>{{ item.date }}</td>
          <td class="cambios">+{{ item.changes }}</td>
          <td><ion-chip color="success">Success</ion-chip></td>
          <td class="ver-accion"><a href="" style="text-decoration: none;"><button class="ver-button">Ver</button></a></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

