ion-menu-button {
  color: var(--ion-color-primary);
}

ion-header{
  box-shadow: 5px 0px 10px rgb(214, 214, 214);
  border-bottom: 1px solid #c4c4c4;
}

#container {
  padding-top: 20px;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}