
<div class="container-table">
  <table class="minimal-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Creation</th>
        <th>Changes</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>12-12-2025</td>
        <td class="cambios">+12</td>
        <td><ion-chip color="success">Success</ion-chip></td>
        <td class="ver-accion"><a href="/detalle/1" style="text-decoration: none;"><button class="ver-button">Ver</button></a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>12-12-2025</td>
        <td class="cambios">+5</td>
        <td><ion-chip color="success">Success</ion-chip></td>
        <td class="ver-accion"><a href="/detalle/2" style="text-decoration: none;"><button class="ver-button">Ver</button></a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>12-12-2025</td>
        <td class="cambios">+2</td>
        <td><ion-chip color="success">Success</ion-chip></td>
        <td class="ver-accion"><a href="/detalle/3" style="text-decoration: none;"><button class="ver-button">Ver</button></a></td>
      </tr>
      <tr>
        <td>4</td>
        <td>12-12-2025</td>
        <td class="cambios">+3</td>
        <td><ion-chip color="success">Success</ion-chip></td>
        <td class="ver-accion"><a href="/detalle/4" style="text-decoration: none;"><button class="ver-button">Ver</button></a></td>
      </tr>
    </tbody>
  </table>
</div>




