
<mat-card style="background-color: white; border: 0; box-shadow: none;" >
  <mat-card-header>
    <h1> Pilas Report</h1>
  </mat-card-header>
  <mat-card-content class="contentTableTheme">
    <table datatable [dtOptions]="dtoptions" class="DatatableTheme">
      <thead>
        <tr class="headTable">
          <th>Columna 1</th>
          <th>Columna 2</th>
          <th>Columna 3</th>
          <th>Columna 4</th>
          <th>Columna 4</th>
          <th>Columna 4</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data"> 
          <td>{{ item.columna1 }}</td>
          <td>{{ item.columna2 }}</td>
          <td class="cambios">{{ item.columna3 }}</td>
          <td>{{ item.columna3 }}</td>
          <td><ion-chip color="success">Success</ion-chip></td>
          <td class="ver-accion"><a href="" style="text-decoration: none;"><button class="ver-button">Ver</button></a></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

